<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <%- include("./partials/head") %>
</head>

<body>

    <%- include("./partials/navbar"); %>

    <% if(active === 'catalog'){ %> <%- include("./partials/catalog"); %> <% } %>

    <% if(active === 'home'){ %> <%- include("./partials/temp"); %> <% } %>

    <% if(active === 'help'){ %> <%- include("./partials/temp"); %> <% } %>

    <% if(active === 'hall'){ %> <%- include("./partials/hall"); %>  <%- include("./partials/catalog"); %>  <% } %>

    <% if(active === 'about'){ %> <%- include("./partials/temp"); %> <% } %>
    
    <%- include("./partials/footer"); %>

    <script src="js/scrollup.js"></script>
</body>

</html>